<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Search Engine</title>

    <!-- External Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <!-- Security and integrity scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js"></script>

    <!-- SEO and Open Graph Meta Tags -->
    <meta name="description" content="Search our database of publicly acquired information. All information is in the public domain and has been compiled into one search engine.">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Search Engine" />
    <meta property="og:description" content="Search our database of publicaly acquired information. All information is in the public domain and has been compiled into one search engine." />
    <meta property="og:url" content="https://search.valorintel.com" />
    <meta property="og:site_name" content="Database Search" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />

    <<link rel="stylesheet" href="styles.css">
</head>

<body>
<div id="app">
    <v-app style="background-color: #121212; color: #f8f9fa;">
        <v-main>
            <v-container class="py-5" fill-height fluid>
                <v-row justify="center">
                    <v-col cols="12" sm="8" md="6" lg="4">
                        <v-card class="pa-4" elevation="2" style="background-color: #1e1e1e; color: #f8f9fa;">
                            <v-form action="/login" method="post">
                                <v-row>
                                    <v-col cols="12">
                                        <h1 class="text-center" style="color: #f8f9fa;">Login</h1>
                                        <div v-if="error" class="red--text text-center">
                                            {{ error }}
                                        </div>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                                label="Username"
                                                name="username"
                                                id="username"
                                                required
                                                solo-inverted
                                                hide-details
                                                dark
                                                style="color: #f8f9fa;"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                                label="Password"
                                                type="password"
                                                name="password"
                                                id="password"
                                                required
                                                solo-inverted
                                                hide-details
                                                dark
                                                style="color: #f8f9fa;"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <v-btn type="submit" color="blue darken-2" block class="white--text">
                                            <v-icon left>mdi-login</v-icon>Login
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</div>


<!-- Include Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!-- Include Vuetify JS -->
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.0"></script>
<script>
    // Ensure Vue and Vuetify are loaded before running this script
    new Vue({
        el: '#app',
        vuetify: new Vuetify(), // Initialize Vuetify
        data: {
            theme: { dark: true },
            error: '{{error}}'
        }
    });
</script>
</body>
</html>